.popup-content {
  width: 70%;
  margin: auto;
  background: rgb(255, 255, 255);

  padding: 5px;
}

.my-popup-content {
  width: 40%;
  margin: auto;
  background: rgb(255, 255, 255);

  padding: 5px;
}
