.container {
  position: relative;
}

.img {
  cursor: pointer;
}

.overlay {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0;
}

.container:hover .overlay {
  opacity: 1;
}

.loadingCotainer {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.loading {
  position: absolute;
  transform: translateX(-50%);
}
