.listcontainer {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.globalheader {
  height: 10%;
}
.globalfooter {
  height: 10%;
}
.globalcontent {
  height: 80%;
}
