.listcontainer {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.globalheader {
  min-height: 10vh;
}
.globalcontent {
  height: 80%;
  min-height: 80vh;
}

.globalfooter {
  min-height: 10vh;
}
